/* p {
    color:#FF5733 ;
    text-align: center;
    line-height: 30px;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
    color: black;
}
h4 {
    text-align: center;
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    color: rgb(0,255,0);
    text-decoration: none;
}
button {
         background-color: white;
         color: blueviolet;
}
textarea {
    color: black;
}
span{
    text-decoration: underline ;
} */
 * {
    font-family: 'Courier New';
 }
 h1,h3{
    color: #b92b27;
 }
 #login {
    background-color: white;
 }
 #signup {
    background-color: #b92b27;
    color:white;
 }
 